body {
    margin: 0;
}

ul {
    padding-inline-start: 0px;
}

.linhaEspaco {
    border-bottom: 2px solid #d8d8d8;
}

.linhaEspaco1px {
    border-bottom: 1px solid #d8d8d8;
}

#tabelaProdutos td {
    border: none;
}

#tabelaProdutos th {
    border: none;
}


#tabelaProdutos {
    border: none;
}

@media (min-width: 1000px){
.basket-productQuantity {
    margin: 0 auto;
}
}

.basket-productQuantity {
    width: 105px;
    align-items: center;
}

.quantityInputBox {
    display: flex;
    flex-direction: row;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
    justify-content: space-between;
    padding: 0 8px;
}

@media (min-width: 1000px){
.basket-productQuantity__wrapper {
    flex-direction: column;
    align-items: flex-start;
    order: 0;
}

}

.basket-productQuantity__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
}

@media (min-width: 800px) {
    #imagemAJuste {
        margin-left: 40%;
    }
 }


#qtdProdutoCart {
    width: 30px;
    
    margin-right: 1px;
}

#increment {
    cursor: pointer;
}

#decrement {
    cursor: pointer;
}