body {
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

.image {
    margin-top: 25px;
    margin-left: 175px;
    margin-right: auto;

}

h1 {
    text-align: center;
    font-size: 22px;
    opacity: 0.8;
    margin-top: 3%;
    font-weight: bold;
}

label {
    text-align: left;
    opacity: 0.6;
    font-size: 10;
}

input {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    color: #545454;
    background-clip: padding-box;
    overflow: visible;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition:  border color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;

}


form div {
    text-align: left;
}

#emailUser ::placeholder {
    opacity: 0.5;
}

.transicao:hover{
        box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
}

.transicao:focus{
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
}




a {
    font-size: 13px;
}

button {
    width: 50%;
    margin-bottom: 30px;
}

.meuDivider {
    width: 100%;
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 2px solid #424345;
    opacity: 0.2;
}

.esqueceu {
    margin-left: 990px;
}


.mudarColor {
    margin-left: 5px;
    color: #424345;
    text-decoration:underline;
}

.minhaFonte {
    opacity: 0.6;
    font-size: 10;
}

@media (max-width: 600px) {
    .esqueceu {
        margin-left: 250px;
    }
  }

  .ajusteInput {
    padding-top: 25px;
    padding-bottom: 25px;
  }