body {
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

.image {
    margin-top: 25px;
    margin-left: 175px;
    margin-right: auto;

}


.inputAjuste {
    padding: 12px;
    height: auto;
}


.selectAjuste {
    padding: 14px;
    height: auto;
}